@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-border: var(--color-border);
  --color-button-background: var(--color-button-background);
  --color-button-foreground: var(--color-button-foreground);
  --color-button-hover: var(--color-button-hover);
}

:root {
  --color-background: var(--color-white);
  --color-foreground: var(--color-black);
  --color-border: var(--color-black);
  --color-button-background: var(--color-black);
  --color-button-foreground: var(--color-white);
  --color-button-hover: var(--color-neutral-700);
}

.dark {
  --color-background: var(--color-black);
  --color-foreground: var(--color-white);
  --color-border: var(--color-white);
  --color-button-background: var(--color-white);
  --color-button-foreground: var(--color-black);
  --color-button-hover: var(--color-neutral-300);
}

button,
a {
  cursor: pointer;
}

@utility hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility colors-fast {
  @apply transition-colors duration-150;

  & * {
    @apply transition-colors duration-150;
  }
}

@utility colors-smooth {
  @apply transition-colors duration-300;

  & * {
    @apply transition-colors duration-300;
  }
}

* {
  @apply colors-smooth;
}